# WEBINARGEEK CONFIG
WEBINARGEEK_API_KEY=Y5T53-rLBE07pXyhzjTdWx9CwlDu1ncCpjNnliY9lPLUKFFw5LwIvhaBjmoZv0QJF9R6Er45hI41FmB_54rpRQ
WEBINARGEEK_EPISODE_ID=600918
WEBINARGEEK_BROADCAST_ID=6161271

# ACTIVECAMPAIGN CONFIG
AC_API_URL=https://lunaswayfare.api-us1.com
AC_API_KEY=d8b04ec9a6d2813c3d80d473b08b1528261b0761be3a731a7b017f6fc8f104fa606f0e3a
AC_LIST_ID=1
AC_TAG=MWV Evergreen angemeldet WG

# META PIXEL CONFIG
META_ACCESS_TOKEN=EAAFT0mw86CsBRaH7MEz23udE8UXpASi5DiHKgv5oopGoqzo1lZBcrC3hdHuwixX2MTdcUYcip8KD0Mks5HX2nhJ7CZBcfnyizUaz2kNKirFUedvaQzQkAqqqexG2VCzjJsLWGkbJssGeUXDwqLPD52qjnx2zL3Y8WtkZA1YGeeZCLEtiZBngUyTzYGyPZA7inAVQZDZD

# CLICKSEND CONFIG
CLICKSEND_API_USER=hello@lunaswayfare.com
CLICKSEND_API_KEY=CA4536C0-1BE8-E4A0-1952-8052566EB53B

# SERVER CONFIG
NODE_ENV=production
PORT=3001
